/* header-contacts */

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts__link {
  display: inline-flex;
  align-items: center;
}

.header-icon__button {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts__link {
  color: var(--secondary-color);
}

.header-contacts__item:nth-child(n + 2) {
  margin-left: 30px;
}
