/* header */

.header {
  position: relative;
}

.line {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;

  width: 100%;

  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.cont-header,
.nav {
  display: flex;
  align-items: center;
}