/* page-header */

.header {
  position: relative;
}

.header-container,
.header-nav {
  display: flex;
  align-items: center;
}

.header-line__bottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;

  width: 100%;

  border-bottom: 1px solid #ececec;
}

// общие стили для контактов и навигации в хедере
.site-nav__link,
.header-contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  transition: color 250ms var(--cubic-bazier);

  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}
