/* Команда разработчиков */

.development-team {
  background: #f5f4fa;

  &__list:nth-child(n + 2) {
    margin-left: 30px;
  }
}

.development-team__item {
  display: flex;
}

.development-team__list {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.development-team__content {
  padding-top: 30px;
  margin-bottom: 16px;
}

.development-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.development-team__skills {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
  font-weight: 400;
}
